body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #3d3d3d;
}

main {
  flex: 1 0 auto;
}

.content {
  margin-bottom: auto;
  color: white;
}

.nav-wrapper {
  padding-left: 10vh;
  padding-right: 10vh;
}

.nav-wrapper,
.page-footer  {
  background-color: #4b4b4b;

}
.button:hover  {
  background-color: teal;

}

.center {
  padding: 15% 0;
  text-align: center;
}

.tealText {
  color: teal;
}

